[Desktop Entry]
Name=ArcTerm
Comment=AI-Powered Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=com.lgbarn.arcterm
StartupWMClass=com.lgbarn.arcterm
TryExec=wezterm
Exec=wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
